<!DOCTYPE html>
<html>
  <head>
    <title><%=title%> | Eddy Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/daterangepicker.css">
    <link rel="stylesheet" href="/styles/eddystore.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->

    <script src="/js/dependencies/require.js"></script>
    <script src="/js/app.js"></script>
  </head>

  <body>
    <% if (req.session.authenticated) { %><%- partial('includes/nav.ejs') %><% } %>
    <div class="container-fluid">
      <h1 class="page-header"><%=title%></h1>
      <%- partial('includes/messagebox.ejs') %>
      <%- body %>
    </div>
    <!-- <script src="/js/dependencies/sails.io.js"></script> -->
  </body>
</html>
